<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/pro-oplatu.css">
    <title>Контакты</title>
  </head>
  <body>
    <header>
      <a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
      <p class="moscow">Москва<br>МФК Кунцево Плаза</p>
      <nav>
        <a href="/">МОРИ АРТ</a>
        <a href="/">БОНУСНАЯ КАРТА</a>
        <a href="/">АРЕНДА ЗАЛА</a>
        <a href="/">АКЦИИ</a>
        <a href="/">НОВОСТИ</a>
      </nav>
    </header>
    
    <main>
      <article>
        <h1 class="fs-32 cinema-page__title">Оплата</h1>
        <p>&nbsp;Правила оплаты и безопасность платежей, конфиденциальность информации</p>
        <p>Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».</p>
        <p>&nbsp;</p>
        <p>К оплате принимаются карты VISA, MasterCard, МИР</p>
        <p>&nbsp;</p>
        <p>Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».</p>
        <p>&nbsp;</p>
        <p>На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Далее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.</p>
        <p>&nbsp;</p>
        <p>Случаи отказа в совершении платежа:</p>
        <p>&nbsp;</p>
        <p>банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;</p>
        <p>недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</p>
        <p>данные банковской карты введены неверно;</p>
        <p>истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;</p>
        <p>По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: 8 (495) 727-13-13.</p>
        <p>Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Правила возврата товара</p>
        <p>&nbsp;</p>
        <p>При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.</p>
        <p>Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».</p>
        <p>&nbsp;</p>
        <p>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;</p>
        <p>&nbsp;</p>
        <p>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;</p>
        <p>Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;</p>
        <p>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;</p>
        <p>&nbsp;</p>
        <p>Возврат денежных средств на банковскую карту производится через кнопку отмены заказа, содержащуюся в письме с заказом, отправленным вам на почту, либо написав письмо на адрес: otmena@mori-cinema.ru</p>
        <p>&nbsp;</p>
        <p>Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.</p>
        <p>Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу otmena@mori-cinema.ru</p>
        <p>&nbsp;</p>
        <p>Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней&nbsp;</p>
      </article>
    </main>
    
    <footer>
        <img src="images/logo.svg" alt="logo">
        <a href="/">Политика конфиденциальности</a>
        <div class="contacts">
          <a href="https://vk.com/moricinema.official"><img src="images/vk.png" alt="vk" style="padding: 0.8vw 0.5vw"></a>
          <a href="https://t.me/s/moricinema"><img src="images/tg.png" alt="telegram" style="padding: 0.7vw"></a>
        </div>
      </footer>
  </body>
</html>