<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/sit.css">
    <title>Места</title>
  </head>
  <body>
    <header>
      <a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
      <p class="moscow">Москва<br>МФК Кунцево Плаза</p>
      <nav>
        <a href="/">МОРИ АРТ</a>
        <a href="/">БОНУСНАЯ КАРТА</a>
        <a href="/">АРЕНДА ЗАЛА</a>
        <a href="/">АКЦИИ</a>
        <a href="/">НОВОСТИ</a>
      </nav>
    </header>
    
    <main>
      <article>
      </article>
    </main>
    
    <footer>
        <img src="images/logo.svg" alt="logo">
        <a href="/">Политика конфиденциальности</a>
        <div class="contacts">
          <a href="https://vk.com/moricinema.official"><img src="images/vk.png" alt="vk" style="padding: 0.8vw 0.5vw"></a>
          <a href="https://t.me/s/moricinema"><img src="images/tg.png" alt="telegram" style="padding: 0.7vw"></a>
        </div>
      </footer>
    
    <script type="module" src="scripts/sit.js"></script>
  </body>
</html>